*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: cadetblue;
}

header {
    width: 100%;
    height: auto;
    min-height: 60px;
    background: #048c94;
    padding: 10px;
}

h1 {
    color: aqua;
    text-align: center;
    text-transform: uppercase;
}

main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    grid-auto-flow: row dense;
}

.article {
    padding: 1rem;
    box-shadow: 3px 3px 3px 4px rgb(47, 114, 156);
}

.article img {
    width: 100%;
}

.article a,
.article a:visited {
    text-decoration: none;
    color: inherit;
    font-size: 10px;
}

.container {
        text-align: center;
}

.busque{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
}

.pesquisa {
    width: 10%;
    height: 30px;
    border-radius: 10px;
    border-color: cornflowerblue;
    background-color: cornflowerblue;
}